*:not(ol) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    padding: 20px;
    padding-bottom: 0;
    border-bottom: 1px solid gray;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding-top: 20px;
}

.logo {
    font-size: 25px;
    color: gray;
}

.logo img {
    vertical-align: middle;
}

header nav ul li {
    padding-bottom: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: gray;
}

li.active {
    border-bottom: 2px solid blue;
}

li.active a {
    color: blue;
}

main {
    margin-top: 100px;
}

main .container {
    max-width: 978px;
    margin: 0 auto;
    padding: 80px 0;
}

li.faq {
    list-style: none;
    margin-bottom: 80px;
}

h2.question {
    margin-bottom: 20px;
}

.answer {
    color: #555;
}

.answer i {
    font-size: 12px;
}

.answer br {
    margin-bottom: 30px;
}

.answer a {
    text-decoration: none;
}

footer {
    padding: 20px 10px;
    background-color: lightgray;
}

footer .container {
    max-width: 978px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container nav ul {
    display: flex;
    list-style: none;
    gap: 8px;
}

footer .container nav ul li a {
    text-decoration: none;
    color: #555;
    font-size: 12px;
}

footer .container nav ul li {
    
}

footer .container nav ul li i {
    font-size: 3px;
    vertical-align: middle;
    margin-right: 5px;
}